.articleSlide {

    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    position: relative !important;
    padding: 2.5rem 0;

    &__slide {

        width: 100% !important;
    }
}